apiVersion: v1
kind: Service
metadata:
  name: gateway-service-svc
  #  namespace: poly
  labels:
    app: gateway-service
spec:
  selector:
    app: gateway-service
    tier: backend
  ports:
    - protocol: TCP
      port: 9000  # 서비스의 포트
      targetPort: 9000  # 컨테이너에서 사용되는 포트
  type: ClusterIP
