apiVersion: v1
kind: Service
metadata:
  name: notice-service-svc
  #  namespace: poly
  labels:
    app: notice-service
spec:
  selector:
    app: notice-service
    tier: backend
  ports:
    - protocol: TCP
      port: 9002  # 서비스의 포트
      targetPort: 9002  # 컨테이너에서 사용되는 포트
  type: ClusterIP
